attrs==19.3.0
coverage==5.0.3
importlib-metadata==1.4.0
more-itertools==8.1.0
packaging==20.1
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pytest==5.3.4
pytest-cov==2.8.1
pytest-tornado==0.8.0
six==1.14.0
tornado==6.0.3
wcwidth==0.1.8
zipp==2.0.1
